@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600&display=swap);

@charset "UTF-8";

@font-face {
  font-family: ico;
  font-display: swap;
  src: url("../fonts/ico.woff2") format("woff2"), url("../fonts/ico.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #7e4e24;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  line-height: 1.3333333333;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.6875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container-big] {
  max-width: none;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[data-showmore-button] span:last-child {
  display: none;
}

._showmore-active [data-showmore-button] span {
  display: none;
}

._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  display: inline-block;
  padding: 1.25rem 2.8125rem;
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid #7e4e24;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 0.875rem;
}

.text {
  letter-spacing: 0.0111111111em;
  font-weight: 500;
  color: #25282b;
}

.title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.003125em;
  line-height: 1.3125;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  top: -0.9375rem;
  left: 0;
  background: url("../img/beforetitle.svg") left/cover no-repeat;
  width: 8.625rem;
  height: 0.9375rem;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1000;
}

.header._header-scroll {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.468);
  color: #fff;
}

.header._header-scroll .menu__link {
  position: relative;
}

.header._header-scroll .menu__link::after {
  content: "";
  position: absolute;
  bottom: -0.3125rem;
  left: 0;
  width: 0;
  left: 50%;
  background-color: #fff;
  height: 0.0625rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header._header-scroll .banner-header {
  margin-top: -3.625rem;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5.25rem;
}

.header__logo {
  z-index: 2;
}

.banner-header.hide {
  margin-top: -3.625rem;
}

.menu-open .banner-header {
  margin-top: -3.625rem;
}

.banner-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  gap: 1.25rem;
  background-color: #697b03;
  padding: 1.0625rem 1.4375rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.banner-header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.banner-header__close {
  display: inline-block;
}

.menu__link {
  position: relative;
  font-weight: 500;
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: -0.3125rem;
  left: 0;
  width: 0;
  left: 50%;
  background-color: #7e4e24;
  height: 0.0625rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.actions-header__button {
  padding: 1.25rem 1.5rem;
  color: #697b03;
  border-color: #697b03;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #697b03;
  color: #fff;
}

.footer__container-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2.25rem 2.375rem;
}

.lic-footer__link {
  font-size: 0.875rem;
}

.lic-footer__link:not(:last-child)::after {
  content: " /";
}

.contacts-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.875rem;
}

.contacts-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.875rem;
}

.no-webp .page__main{
  background: url("../img/mainblock/mainimage.png") center/cover no-repeat; }

.page__main {
  min-height: 100vh;
}

.page__who {
  margin-bottom: 7.9375rem;
}

.page__what {
  margin-bottom: 1.875rem;
}

.page__quote {
  margin-bottom: 7rem;
}

.page__product {
  margin-bottom: 9rem;
}

.no-webp .page__finish{
  background: url("../img/finish/finishbg.png") center/cover no-repeat; }

.page__finish {
  min-height: 54.25rem;
  position: relative;
  margin-bottom: 5.625rem;
}

.no-webp .page__finish::before{
  background: url("../img/finish/finishdecor.png") center/cover no-repeat; }

.page__finish::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 72.6875rem;
  height: 40.875rem;
  pointer-events: none;
}

.page__nav {
  margin-bottom: 1.8125rem;
}

.main-block {
  font-weight: 500;
}

.main-block__container {
  padding-top: 17.25rem;
}

.main-block__title {
  color: #697b03;
}

.main-block__title span {
  color: #7e4e24;
}

.main-block__text {
  letter-spacing: 0.0111111111em;
  max-width: 29.125rem;
}

.who__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3.25rem;
  padding-top: 12.5rem;
}

.who__image img {
  max-width: 100%;
}

.who__title {
  margin-bottom: 3rem;
}

.more-who__text {
  max-width: 28.1875rem;
  margin-bottom: 1.5rem;
}

.more-who__text p:not(:last-child) {
  margin-bottom: 1.25rem;
}

.more-who__more {
  text-transform: uppercase;
  font-weight: 500;
}

.what__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.what__title {
  margin-bottom: 3.4375rem;
}

.what__image {
  position: relative;
}

.what__image img {
  max-width: 100%;
}

.what__player {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.no-webp .quote{
  background: url("../img/quote/quotebg.png") center/cover no-repeat; }

.quote {
  font-weight: 500;
}

.quote__container {
  padding: 8.625rem 1.875rem 5.5625rem 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote__title {
  font-weight: 300;
  text-align: center;
  margin-bottom: 3rem;
}

.quote__caption {
  margin-bottom: 4.4375rem;
}

.quote__more {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 3.25rem;
}

.product__image img {
  max-width: 100%;
}

.product__title {
  margin-bottom: 3rem;
  margin-bottom: 3rem;
}

.more-product__text {
  max-width: 28.1875rem;
  margin-bottom: 1.5rem;
}

.more-product__text p:not(:last-child) {
  margin-bottom: 1.25rem;
}

.more-product__more {
  text-transform: uppercase;
  font-weight: 500;
}

.finish {
  font-weight: 500;
}

.finish__container {
  padding-top: 17.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.finish__title {
  color: #697b03;
}

.finish__title span {
  color: #7e4e24;
}

.finish__text {
  letter-spacing: 0.0111111111em;
  max-width: 29.125rem;
  margin-bottom: 2.5625rem;
}

.finish__button {
  padding: 1.25rem 3.125rem 1.25rem 3.0625rem;
  background-color: #697b03;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 0.875rem;
  letter-spacing: 0.0111111111em;
  border-color: #697b03;
}

.nav {
  color: #697b03;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.3125rem;
  margin-bottom: 3.0625rem;
}

.nav__spollers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.0625rem;
}

.nav__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5rem;
}

.nav__title {
  font-weight: 500;
  font-size: 1.125rem;
}

.nav__caption {
  font-size: 0.875rem;
  margin-bottom: 1.0625rem;
  line-height: 157%;
}

.nav__button:not(:last-child) {
  margin-bottom: 1.0625rem;
}

.nav__news {
  max-width: 19.375rem;
}

.nav__data {
  padding-left: 2.375rem;
  font-size: 0.75rem;
}

.spollers__item {
  min-width: 11.0625rem;
  display: block;
}

.spollers-nav {
  display: block;
}

.spollers-nav__item {
  min-width: 11.0625rem;
}

.spollers-nav__item:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.spollers-nav__link {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.0071428571em;
  line-height: 129%;
}

@media (min-width: 47.99875em) {
  .spollers__title {
    display: none;
  }
}

@media (min-width: 61.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 0.3125rem;
  }
}

@media (min-width: 61.99875em) and (min-width: 73.6875em) {
  .menu__list {
    gap: 1.6875rem;
  }
}

@media (min-width: 70.3125em) {
  .header__menu {
    margin-right: 3rem;
  }
}

@media (min-width: 72.1875em) {
  .header__logo {
    margin-right: 8.25rem;
  }
}

@media (min-width: 73.6875em) {
  .banner-header__text {
    font-size: 1.125rem;
  }

  .page__finish::before {
    width: 72.6875rem;
  }

  .page__finish::before {
    height: 40.875rem;
  }

  .main-block__caption {
    margin-bottom: 1.4375rem;
  }

  .main-block__caption {
    font-size: 1.125rem;
  }

  .main-block__title {
    font-size: 2.0625rem;
  }

  .main-block__title {
    margin-bottom: 2.0625rem;
  }

  .main-block__text {
    font-size: 1.125rem;
  }

  .quote__title {
    font-size: 2.25rem;
  }

  .finish__caption {
    margin-bottom: 1.25rem;
  }

  .finish__caption {
    font-size: 1.125rem;
  }

  .finish__title {
    font-size: 2.0625rem;
  }

  .finish__title {
    margin-bottom: 2.0625rem;
  }

  .finish__text {
    font-size: 1.125rem;
  }
}

@media (max-width: 62em) {
  .header__logo {
    margin-right: 1.25rem;
  }

  .header__menu {
    margin-right: 0.625rem;
  }
}

@media (max-width: 20em) {
  .banner-header__text {
    font-size: 0.8125rem;
  }

  .page__finish::before {
    width: 25rem;
  }

  .page__finish::before {
    height: 25rem;
  }

  .main-block__caption {
    margin-bottom: 0.9375rem;
  }

  .main-block__caption {
    font-size: 1rem;
  }

  .main-block__title {
    font-size: 1.25rem;
  }

  .main-block__title {
    margin-bottom: 0.9375rem;
  }

  .main-block__text {
    font-size: 1rem;
  }

  .quote__title {
    font-size: 1.5625rem;
  }

  .finish__caption {
    margin-bottom: 0.9375rem;
  }

  .finish__caption {
    font-size: 1rem;
  }

  .finish__title {
    font-size: 1.25rem;
  }

  .finish__title {
    margin-bottom: 0.9375rem;
  }

  .finish__text {
    font-size: 1rem;
  }
}

@media (max-width: 61.99875em) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #697b03;
    padding: 7.5rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
    -webkit-transform: translate(-100%, 0px);
        -ms-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }

  .menu-open .menu__body {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .menu__item {
    text-align: center;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .menu__link {
    font-size: 1.5625rem;
    font-weight: 600;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__container-big {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .contacts-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .page__finish::before {
    bottom: 2.5rem;
  }

  .nav__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .nav__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) {
  .spollers {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .spollers__item {
    font-size: 1.25rem;
    display: block;
    width: 100%;
  }

  .spollers__title {
    width: 100%;
    cursor: default;
    text-align: left;
    border: 1px solid #eee;
    padding: 0.625rem 0.9375rem;
    border-radius: 0.3125rem;
    position: relative;
    list-style: none;
  }

  ._spoller-init .spollers__title {
    cursor: pointer;
    /*
    ._spoller-init & {
    	position: relative;
    	width: 100%;
    	text-align: left;
    	&::before,
    	&::after {
    		content: "";
    		position: absolute;
    		right: 0;
    		top: rem(12);
    		height: rem(1);
    		transition: all 0.3s ease 0s;
    		width: rem(10);
    		background-color: #000;
    	}
    	&::before {
    		transform: rotate(40deg);
    		right: rem(7);
    	}
    	&::after {
    		transform: rotate(-40deg);
    	}
    }
    &._spoller-active {
    	&::before {
    		transform: rotate(-40deg);
    	}
    	&::after {
    		transform: rotate(40deg);
    	}
    }
    */
  }

  ._spoller-init .spollers__title::before,
  ._spoller-init .spollers__title::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    background-color: #000;
    height: 2px;
    width: 15px;
    -webkit-transition: -webkit-transform 0.5s ease 0s;
    transition: -webkit-transform 0.5s ease 0s;
    -o-transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  }

  ._spoller-init .spollers__title::before {
    -webkit-transform: translate(-75%, -50%) rotate(40deg);
        -ms-transform: translate(-75%, -50%) rotate(40deg);
            transform: translate(-75%, -50%) rotate(40deg);
  }

  ._spoller-init .spollers__title::after {
    -webkit-transform: translate(0, -50%) rotate(-40deg);
        -ms-transform: translate(0, -50%) rotate(-40deg);
            transform: translate(0, -50%) rotate(-40deg);
  }

  ._spoller-init .spollers__title._spoller-active::before {
    -webkit-transform: translateX(-75%) rotate(-40deg);
        -ms-transform: translateX(-75%) rotate(-40deg);
            transform: translateX(-75%) rotate(-40deg);
  }

  ._spoller-init .spollers__title._spoller-active::after {
    -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
            transform: rotate(40deg);
  }

  .spollers__body {
    padding: 1.25rem;
    border-radius: 0.3125rem;
    border: 1px solid #eee;
  }

  .header::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5.25rem;
    background-color: #fff;
    z-index: 2;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    -webkit-transform: translate(-100%, 0px);
        -ms-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
    background-color: #7e4e24;
  }

  .menu-open .header::before {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .actions-header {
    gap: 0.3125rem;
  }

  .actions-header__button {
    padding: 0.625rem 0.75rem;
  }

  .page__main {
    margin-bottom: -15.625rem;
  }

  .page__finish::before {
    bottom: 9.375rem;
    left: 0rem;
  }

  .who__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2.5rem;
  }

  .who__content {
    text-align: center;
  }

  .who__title::before {
    content: "";
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }

  .product__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2.5rem;
  }

  .product__content {
    text-align: center;
  }

  .product__title::before {
    content: "";
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }

  .nav__spollers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (max-width: 41.5em) {
  .header._header-scroll .banner-header {
    margin-top: -4.6875rem;
  }

  .banner-header.hide {
    margin-top: -5.4375rem;
  }

  .menu-open .banner-header {
    margin-top: -4.6875rem;
  }
}

@media (max-width: 29.99875em) {
  .actions-header__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 22.0625em) {
  .header._header-scroll .banner-header {
    margin-top: -5.4375rem;
  }

  .menu-open .banner-header {
    margin-top: -5.4375rem;
  }
}

@media (min-width: 62em) and (max-width: 72.1875em) {
@supports (margin-right: clamp( 1.25rem , -41.3512269939rem  +  68.7116564417vw , 8.25rem )) {
    .header__logo {
      margin-right: clamp( 1.25rem , -41.3512269939rem  +  68.7116564417vw , 8.25rem );
    }
}

@supports not (margin-right: clamp( 1.25rem , -41.3512269939rem  +  68.7116564417vw , 8.25rem )) {
    .header__logo {
      margin-right: calc(1.25rem + 7 * (100vw - 62rem) / 10.1875);
    }
}
}

@media (min-width: 62em) and (max-width: 70.3125em) {
@supports (margin-right: clamp( 0.625rem , -17.0892857143rem  +  28.5714285714vw , 3rem )) {
    .header__menu {
      margin-right: clamp( 0.625rem , -17.0892857143rem  +  28.5714285714vw , 3rem );
    }
}

@supports not (margin-right: clamp( 0.625rem , -17.0892857143rem  +  28.5714285714vw , 3rem )) {
    .header__menu {
      margin-right: calc(0.625rem + 2.375 * (100vw - 62rem) / 8.3125);
    }
}
}

@media (min-width: 20em) and (max-width: 73.6875em) {
@supports (font-size: clamp( 0.8125rem , 0.6960855646rem  +  0.5820721769vw , 1.125rem )) {
    .banner-header__text {
      font-size: clamp( 0.8125rem , 0.6960855646rem  +  0.5820721769vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.6960855646rem  +  0.5820721769vw , 1.125rem )) {
    .banner-header__text {
      font-size: calc(0.8125rem + 0.3125 * (100vw - 20rem) / 53.6875);
    }
}

@supports (width: clamp( 25rem , 7.2351571595rem  +  88.8242142026vw , 72.6875rem )) {
    .page__finish::before {
      width: clamp( 25rem , 7.2351571595rem  +  88.8242142026vw , 72.6875rem );
    }
}

@supports not (width: clamp( 25rem , 7.2351571595rem  +  88.8242142026vw , 72.6875rem )) {
    .page__finish::before {
      width: calc(25rem + 47.6875 * (100vw - 20rem) / 53.6875);
    }
}

@supports (height: clamp( 25rem , 19.0861466822rem  +  29.5692665891vw , 40.875rem )) {
    .page__finish::before {
      height: clamp( 25rem , 19.0861466822rem  +  29.5692665891vw , 40.875rem );
    }
}

@supports not (height: clamp( 25rem , 19.0861466822rem  +  29.5692665891vw , 40.875rem )) {
    .page__finish::before {
      height: calc(25rem + 15.875 * (100vw - 20rem) / 53.6875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.7512369034rem  +  0.9313154831vw , 1.4375rem )) {
    .main-block__caption {
      margin-bottom: clamp( 0.9375rem , 0.7512369034rem  +  0.9313154831vw , 1.4375rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.7512369034rem  +  0.9313154831vw , 1.4375rem )) {
    .main-block__caption {
      margin-bottom: calc(0.9375rem + 0.5 * (100vw - 20rem) / 53.6875);
    }
}

@supports (font-size: clamp( 1rem , 0.9534342258rem  +  0.2328288708vw , 1.125rem )) {
    .main-block__caption {
      font-size: clamp( 1rem , 0.9534342258rem  +  0.2328288708vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9534342258rem  +  0.2328288708vw , 1.125rem )) {
    .main-block__caption {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 53.6875);
    }
}

@supports (font-size: clamp( 1.25rem , 0.947322468rem  +  1.5133876601vw , 2.0625rem )) {
    .main-block__title {
      font-size: clamp( 1.25rem , 0.947322468rem  +  1.5133876601vw , 2.0625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.947322468rem  +  1.5133876601vw , 2.0625rem )) {
    .main-block__title {
      font-size: calc(1.25rem + 0.8125 * (100vw - 20rem) / 53.6875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.5184080326rem  +  2.095459837vw , 2.0625rem )) {
    .main-block__title {
      margin-bottom: clamp( 0.9375rem , 0.5184080326rem  +  2.095459837vw , 2.0625rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5184080326rem  +  2.095459837vw , 2.0625rem )) {
    .main-block__title {
      margin-bottom: calc(0.9375rem + 1.125 * (100vw - 20rem) / 53.6875);
    }
}

@supports (font-size: clamp( 1rem , 0.9534342258rem  +  0.2328288708vw , 1.125rem )) {
    .main-block__text {
      font-size: clamp( 1rem , 0.9534342258rem  +  0.2328288708vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9534342258rem  +  0.2328288708vw , 1.125rem )) {
    .main-block__text {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 53.6875);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.3063882421rem  +  1.2805587893vw , 2.25rem )) {
    .quote__title {
      font-size: clamp( 1.5625rem , 1.3063882421rem  +  1.2805587893vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.3063882421rem  +  1.2805587893vw , 2.25rem )) {
    .quote__title {
      font-size: calc(1.5625rem + 0.6875 * (100vw - 20rem) / 53.6875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.8210855646rem  +  0.5820721769vw , 1.25rem )) {
    .finish__caption {
      margin-bottom: clamp( 0.9375rem , 0.8210855646rem  +  0.5820721769vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.8210855646rem  +  0.5820721769vw , 1.25rem )) {
    .finish__caption {
      margin-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 53.6875);
    }
}

@supports (font-size: clamp( 1rem , 0.9534342258rem  +  0.2328288708vw , 1.125rem )) {
    .finish__caption {
      font-size: clamp( 1rem , 0.9534342258rem  +  0.2328288708vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9534342258rem  +  0.2328288708vw , 1.125rem )) {
    .finish__caption {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 53.6875);
    }
}

@supports (font-size: clamp( 1.25rem , 0.947322468rem  +  1.5133876601vw , 2.0625rem )) {
    .finish__title {
      font-size: clamp( 1.25rem , 0.947322468rem  +  1.5133876601vw , 2.0625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.947322468rem  +  1.5133876601vw , 2.0625rem )) {
    .finish__title {
      font-size: calc(1.25rem + 0.8125 * (100vw - 20rem) / 53.6875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.5184080326rem  +  2.095459837vw , 2.0625rem )) {
    .finish__title {
      margin-bottom: clamp( 0.9375rem , 0.5184080326rem  +  2.095459837vw , 2.0625rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5184080326rem  +  2.095459837vw , 2.0625rem )) {
    .finish__title {
      margin-bottom: calc(0.9375rem + 1.125 * (100vw - 20rem) / 53.6875);
    }
}

@supports (font-size: clamp( 1rem , 0.9534342258rem  +  0.2328288708vw , 1.125rem )) {
    .finish__text {
      font-size: clamp( 1rem , 0.9534342258rem  +  0.2328288708vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9534342258rem  +  0.2328288708vw , 1.125rem )) {
    .finish__text {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 53.6875);
    }
}
}

@media (min-width: 61.99875em) and (min-width: 20em) and (max-width: 73.6875em) {
@supports (gap: clamp( 0.625rem , 0.2291909197rem  +  1.9790454016vw , 1.6875rem )) {
    .menu__list {
      gap: clamp( 0.625rem , 0.2291909197rem  +  1.9790454016vw , 1.6875rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.2291909197rem  +  1.9790454016vw , 1.6875rem )) {
    .menu__list {
      gap: calc(0.625rem + 1.0625 * (100vw - 20rem) / 53.6875);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 20em) {
  .menu__list {
    gap: 0.625rem;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #7e4e24;
    color: #fff;
  }

  .header._header-scroll .menu__link:hover::after {
    content: "";
    width: 100%;
    left: 0;
  }

  .menu__link:hover::after {
    content: "";
    width: 100%;
    left: 0;
  }

  .actions-header__button:hover {
    background-color: #697b03;
  }

  .more-who__more:hover {
    text-decoration: underline;
  }

  .what__player:hover {
    -webkit-transform: translate(-50%, 0px) scale(0.9);
        -ms-transform: translate(-50%, 0px) scale(0.9);
            transform: translate(-50%, 0px) scale(0.9);
  }

  .quote__caption:hover {
    text-decoration: underline;
  }

  .quote__more:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .more-product__more:hover {
    text-decoration: underline;
  }

  .finish__button:hover {
    background-color: #fff;
    color: #697b03;
  }

  .spollers-nav__link:hover {
    text-decoration: underline;
  }
}

.webp .page__main{ background: url(../img/mainblock/mainimage.webp) center/cover no-repeat; }

.webp .page__finish{ background: url(../img/finish/finishbg.webp) center/cover no-repeat; }

.webp .page__finish::before{ background: url(../img/finish/finishdecor.webp) center/cover no-repeat; }

.webp .quote{ background: url(../img/quote/quotebg.webp) center/cover no-repeat; }